<div class="white-space"></div>

<!-- <div class="contact">
  <section class="contact_banner">
    <h1 class="contact_banner_header"><i class="fab fa-instagram"></i>#YES I DARE</h1>
  </section>
  <section class="contact_info">
    <div class="contact_info_header">
      <h3>Meet Our Team</h3>
    </div>
    <div class="contact_info_team">
      <div class="avatar_holder">
        <div class="avatar">
          <%= image_tag 'alexandre.png', class: "avatar-img" %>
          <h3>Alexandre Olive</h3>
          <h4>Founder</h4>
          <p>alexandre@rendezvous-ihf.com</p>
        </div>
      </div>
      <div class="avatar_holder">
        <div class="avatar pb40">
          <%= image_tag 'estelle.png', class: "avatar-img" %>
          <h3>Estelle Bernière</h3>
          <h4>European Office Manager</h4>
          <p>saleseurope@rendez-vous-ihf.com</p>
        </div>
      </div>
      <div class="avatar_holder">
        <div class="avatar pb40">
          <%= image_tag 'arnaud.png', class: "avatar-img" %>
          <h3>Arnaud Hudaverdian</h3>
          <h4>LatAm Office Manager</h4>
          <p>sales@rendezvous-ihf.com</p>
        </div>
      </div>
    </div>
  </section>

</div> -->


<div class="banner-img contact">
  <section class="contact_banner">
    <h1 class="contact_banner_header"><i class="fab fa-instagram"></i>#YES I DARE</h1>
  </section>
</div>
<h1 class="would-you tar">Meet Our Team</h1>
<div class="avatar-holder">
  <div class="avatar">
    <%= image_tag 'alexandre.png', class: "avatar-img" %>
    <h3>Alexandre Olive</h3>
    <h4>Founder</h4>
    <p>alexandre@rendezvous-ihf.com</p>
  </div>
</div>
<div class="avatar-holder">
  <div class="avatar pb40">
    <%= image_tag 'estelle.png', class: "avatar-img" %>
    <h3>Estelle Bernière</h3>
    <h4>European Office Manager</h4>
    <p>saleseurope@rendez-vous-ihf.com</p>
  </div>
  <div class="avatar pb40">
    <%= image_tag 'arnaud.png', class: "avatar-img" %>
    <h3>Arnaud Hudaverdian</h3>
    <h4>LatAm Office Manager</h4>
    <p>sales@rendezvous-ihf.com</p>
  </div>
</div>
<section class="contact_details">
  <h1>Call Us:</h1>
  <h1>France: +33 343.343.2222</h1>
  <h1>Colombia: +57 358.15.23</h1>
</section>

<!-- <div style="position:relative;height: 20vw;
  min-height: 250px;">
  <%= image_tag 'slant.png', class: "slant" %>
  <img src="/images/slant.png" alt="/slant" class="slant">
  <img/>
  <h1 class="br">For more information <br/>call us at +1800-232-RENDEZVOUS</h1>
</div> -->
