<div class="white-space"></div>
<div class="home-page">
  <section class="home-page_section-one">
    <h4>#UNCLASSIFIABLE</h4>
    <p>#YESIDARE #WOULDYOU?</p>
    <%= link_to unclassifiable_path, class: "home-page_section-one_button" do %>
      <span>Learn More</span>
    <% end %>
  </section>
  <section class="home-page_section-two">
    <h1>
      Rendez-Vous is an International Luxury Hotel Forum that creates unique partnerships between the best hotels in the world and the most important MICE buyers.
    </h1>
  </section>
  <section class="home-page_section-three">
    <div class="home-page_section-three_header">
      <h4>Would you?</h4>
    </div>
    <div class="home-page_section-three_card-box">
      <div class="home-page_section-three_card-box_first-card">
        <div class="home-page_section-three_card-box_first-card_image"></div>
        <div class="home-page_section-three_card-box_first-card_text">
          <h4>Cartagena, COLOMBIA</h4>
          <p>DATES:<br>APRIL 5 TO 15, 2019</p>
          <p>HOTEL:<br>HOTEL LEGEND SOFITEL SANTA CLARA</p>
          <%= link_to wouldyou_path, class: "home-page_section-three_card-box_first-card_text_button" do %>
              <span>Would you?</span>
          <% end %>
        </div>
      </div>
      <div class="home-page_section-three_card-box_second-card">
        <div class="home-page_section-three_card-box_second-card_text">
          <h4>Lisboa, PORTUGAL</h4>
          <p>DATES:<br>October 15th to 20th, 2019</p>
          <p>HOTEL:<br>PESTANA PALACE</p>
          <%= link_to wouldyou_path, class: "home-page_section-three_card-box_second-card_text_button" do %>
            <span>Would you?</span>
          <% end %>
        </div>
        <div class="home-page_section-three_card-box_second-card_image"></div>
      </div>
    </div>
  </section>
  <section class="home-page_section-four" id="past-events">
    <div class="home-page_section-four_header">
      <h4>Past Editions</h4>
    </div>
    <div class="home-page_section-four_card-box">
      <div class="home-page_section-four_card-box_first-card">
        <div class="home-page_section-four_card-box_first-card_image"></div>
        <div class="home-page_section-four_card-box_first-card_text">
          <h4>Vienna, Austria</h4>
          <p>Park Hyatt, February 2018</p>
          <a class="home-page_section-four_card-box_first-card_button" href="#popup">Learn More</a>
        </div>
      </div>
      <div class="home-page_section-four_card-box_second-card">
        <div class="home-page_section-four_card-box_second-card_image"></div>
        <div class="home-page_section-four_card-box_second-card_text">
          <h4>Saint-Vincent, Italia</h4>
          <p>Grand Hotel Billia, June 2016</p>
          <a class="home-page_section-four_card-box_second-card_button" href="#popup2">Learn More</a>
        </div>
      </div>
      <div class="home-page_section-four_card-box_third-card">
        <div class="home-page_section-four_card-box_third-card_image"></div>
        <div class="home-page_section-four_card-box_third-card_text">
          <h4>Paris, France</h4>
          <p>Hotel du Colllectionneur, November 2015</p>
          <a class="home-page_section-four_card-box_third-card_button" href="#popup3">Learn More</a>
        </div>
      </div>
    </div>
  </section>

  <!-- IN HERE ALL THE POP UPS -->
  <div class="popup" id="popup">
      <div class="popup_content">
        <div class="popup_left">
          <%= image_tag 'https://images.pexels.com/photos/244996/pexels-photo-244996.jpeg?cs=srgb&dl=auto-automobiles-cars-244996.jpg&fm=jpg', class: "popup_img" %>
          <%= image_tag 'https://images.pexels.com/photos/189454/pexels-photo-189454.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', class: "popup_img" %>
        </div>
        <div class="popup_right">
          <a href="#past-events" class="popup_close">&times;</a>
          <h2 class="popup_header">Vienna, Austria</h2>
          <h3 class="popup_small-header">Park Hyatt, February 2018</h3>
          <p class="popup_text">
            <em>"In our opinion and why we love this format and forum is that Rendez-Vouz IHF creates an intimate atmosphere with targeted buyers, offering a great balance between 1-to-1 meetings, unique networking events and memorable parties. So for sure a forum that is worth it to join and be part of it!"</em>
            <br><br>
            <b> BARBARA GÖTTLING Cluster Director of Sales & Marketing Park Hyatt Vienna & Andaz Vienna Am Belvedere</b>
          </p>
        </div>
      </div>
  </div>

  <div class="popup" id="popup2">
      <div class="popup_content">
        <div class="popup_left">
          <%= image_tag 'https://images.pexels.com/photos/7522/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', class: "popup_img" %>
          <%= image_tag 'https://images.pexels.com/photos/417344/pexels-photo-417344.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', class: "popup_img" %>
        </div>
        <div class="popup_right">
          <a href="#past-events" class="popup_close">&times;</a>
          <h2 class="popup_header">Sain-Vincent, Italia</h2>
          <h3 class="popup_small-header">Grand Hotel Billia, June 2016</h3>
          <p class="popup_text">
            <em>
              "The event is the perfect opportunity to showcase your properties in an intimate atmosphere. Due to the size of the forum, not too big, not too small, the experience is more to become a family. Suppliers and buyers are at the same level of harmony and with superb options for networking and to generate proper business relationships."
            </em>
            <br><br>
            <b>
              Borja Martinez Junquera
              Director of Meetings & Events Europe
              Palladium Hotel Group
            </b>
          </p>
        </div>
      </div>
  </div>

  <div class="popup" id="popup3">
      <div class="popup_content">
        <div class="popup_left">
          <%= image_tag 'https://images.pexels.com/photos/338515/pexels-photo-338515.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', class: "popup_img" %>
          <%= image_tag 'https://images.pexels.com/photos/161901/paris-sunset-france-monument-161901.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', class: "popup_img" %>
        </div>
        <div class="popup_right">
          <a href="#past-events" class="popup_close">&times;</a>
          <h2 class="popup_header">Paris, France</h2>
          <h3 class="popup_small-header">Hotel du collectionneur, November 2015</h3>
          <p class="popup_text">
            <em>
            "I have been participating to many editions of Rendez-Vous, an unclassifiable event mixing targeted business meeting to one of a kind networking events that strengthen business relationship beyond expectations. Can’t recommend it more"
            </em>
            <b>
            Bruno CHIARUTTINI
            General Manager
            HILTON PARIS CHARLES DE GAULLE AIRPORT
            </b>
          </p>
        </div>
      </div>
  </div>
</div>
