<div class="white-space"></div>
<div class="home-page">
  <section class="home-video">
    <%= cl_video_tag("last_one_2_1_eqywdk", quality: "auto:best", id: "home_video", loop: true, autoplay: true, muted: true, playsinline: true, poster: "https://s3.eu-west-3.amazonaws.com/rendezvoushotel/home-thumbnail.png") %>
    <div class="volume-toggle">
      <%= image_tag "volume_on.png", class:"volume-logo hidden", id: "volume_on" %>
      <%= image_tag "volume_off.png", class:"volume-logo", id: "volume_off" %>
    </div>
  </section>
<!--   <section class="home-page_section-one">
    <h4>#UNCLASSIFIABLE</h4>
    <p>#YESIDARE #WOULDYOU?</p>
    <%= link_to unclassifiable_path, class: "home-page_section-one_button" do %>
      <span>Learn More</span>
    <% end %>
  </section> -->
  <section class="home-page_section-two">
    <h1>
      RENDEZ VOUS IHF is an International Luxury Hotel Forum that creates unique partnerships between the best hotels in the world and the most important MICE buyers.
    </h1>
  </section>
  <section class="next-editions">
    <h1 class="next-editions_header">Next Editions</h1>
      <div class="next-editions_this-year">
        <h3>2019</h3>
        <div class="left-card">
          <div class="left-card_image">
            <%= image_tag 'pestana.png' %>
          </div>
          <div class="left-card_content">
            <h4>LISBOA, PORTUGAL</h4>
            <h5>Dates</h5>
            <p><b>October 15 to 18, 2019</b></p>
            <h5>Host Hotel</h5>
            <p><b>Pestana Palace</b></p>
            <%= link_to contact_path do %>
              <button>JOIN</button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="next-editions_next-year">
        <h3>2020</h3>
        <div class="right-card">
          <div class="right-card_content">
            <h4>MEGÉVE, FRANCE</h4>
            <h5>Dates</h5>
            <p><b>March 24 to 27, 2020</b></p>
            <h5>Host Hotel</h5>
            <p><b>Les Chalets du Mont d'Arbois, Megève, a Four Seasons Hotel</b></p>
            <%= link_to contact_path do %>
              <button>JOIN</button>
            <% end %>
          </div>
          <div class="right-card_image">
            <%= image_tag 'megeve.png' %>
          </div>
        </div>
<!--         <div class="left-card">
          <div class="left-card_image">
            <%= image_tag 'santaclara.png' %>
          </div>
          <div class="left-card_content">
            <h4>CARTAGENA DE INDIAS, COLOMBIA</h4>
            <h5>Dates</h5>
            <p><b>April 9 to 12, 2020</b></p>
            <h5>Host Hotel</h5>
            <p><b>Sofitel Santa Clara</b></p>
            <%= link_to contact_path do %>
              <button>JOIN</button>
            <% end %>
          </div>
        </div> -->
<!--         <div class="right-card">
          <div class="right-card_content">
            <h4>MONACO</h4>
            <h5>Dates</h5>
            <p><b>October 26 to 29, 2020</b></p>
            <h5>Host Hotel</h5>
            <p><b>Hotel l’Hermitage</b></p>
            <%= link_to contact_path do %>
              <button>JOIN</button>
            <% end %>
          </div>
          <div class="right-card_image">
            <%= image_tag 'monaco.png' %>
          </div>
        </div> -->
        <div class="left-card">
          <div class="left-card_image">
            <%= image_tag 'monaco.png' %>
          </div>
          <div class="left-card_content">
            <h4>MONACO</h4>
            <h5>Dates</h5>
            <p><b>October 26 to 29, 2020</b></p>
            <h5>Host Hotel</h5>
            <p><b>Hotel l’Hermitage</b></p>
            <%= link_to contact_path do %>
              <button>JOIN</button>
            <% end %>
          </div>
        </div>
      </div>
  </section>
  <section class="home-page_section-four" id="past-events">
    <div class="home-page_section-four_header">
      <h4>Past Editions</h4>
    </div>
    <div class="home-page_section-four_card-box">
      <div class="card">
        <div class="card_video">
          <%= cl_video_tag("RENDEZ_VOUS_-_Vienna_2018_1_gbcvgw", quality: "auto:best", controls: true, poster: 'https://s3.eu-west-3.amazonaws.com/rendezvoushotel/vienna.png')%>
        </div>
        <div class="card_content">
          <h4>Park Hyatt Vienna</h4>
          <p>Austria, Vienna, February 2018</p>
          <a href="#popup" class="card_button">Learn More</a>
        </div>
      </div>
      <div class="card">
        <div class="card_video">
          <%= cl_video_tag("RENDEZ_VOUS_-_AOSTA_2016_s17pk1", controls: true, quality: "auto:best", poster: "https://s3.eu-west-3.amazonaws.com/rendezvoushotel/italy.png")%>
        </div>
        <div class="card_content">
          <h4>Grand Hotel Billia</h4>
          <p>Saint-Vincent, Italia, June 2016</p>
          <a href="#popup2" class="card_button">Learn More</a>
        </div>
      </div>
      <div class="card">
        <div class="card_video">
          <%= image_tag 'parisino.png' %>
        </div>
        <div class="card_content">
          <h4>Hôtel du Collectionneur</h4>
          <p>Paris, France, November 2015</p>
          <a href="#popup3" class="card_button">Learn More</a>
        </div>
      </div>
      <div class="card">
        <div class="card_video">
          <%= cl_video_tag("RENDEZ_VOUS_Stockholm_qg72l5", quality: "auto:best", controls: true, poster: "https://s3.eu-west-3.amazonaws.com/rendezvoushotel/stockholm.png") %>
        </div>
        <div class="card_content">
          <h4>Grand Hotel Stockholm</h4>
          <p>Stockholm, Sweden, May 2015</p>
          <a href="#popup4" class="card_button">Learn More</a>
        </div>
      </div>
      <div class="card">
        <div class="card_video">
          <%= cl_video_tag("RENDEZ_VOUS_Hamburg_2015_by_Design_Hotels_divkry", quality: "auto:best", controls: true, poster: "https://s3.eu-west-3.amazonaws.com/rendezvoushotel/hamburg.png") %>
        </div>
        <div class="card_content">
          <h4>Gastwerk</h4>
          <p>Hamburg, Germany,  April 2015</p>
          <a href="#popup5" class="card_button">Learn More</a>
        </div>
      </div>
      <div class="card">
        <div class="card_video">
          <%= cl_video_tag("RENDEZ_VOUS_2014_-_Algarve_om2dpk", controls: true, quality: "auto:best", poster: 'https://s3.eu-west-3.amazonaws.com/rendezvoushotel/algarve.png') %>
        </div>
        <div class="card_content">
          <h4>Conrad Hotel</h4>
          <p>Algarve, Portugal, October 2014</p>
          <a href="#popup6" class="card_button">Learn More</a>
        </div>
      </div>
      <div class="card">
        <div class="card_video">
          <%= cl_video_tag("RENDEZ_VOUS_Amsterdam_2014_j8vez4", controls: true, quality: "auto:best", poster: "https://s3.eu-west-3.amazonaws.com/rendezvoushotel/amsterdam.png") %>
        </div>
        <div class="card_content">
          <h4>Conservatorium Hotel</h4>
          <p>Amsterdam, Netherlands, June 2014</p>
          <a href="#popup7" class="card_button">Learn More</a>
        </div>
      </div>
      <div class="card">
        <div class="card_video">
          <%= link_to 'https://vimeo.com/132807987' do %>
            <%= image_tag 'ibizacard.png' %>
          <% end %>
        </div>
        <div class="card_content">
          <h4>Ibiza Gran Hotel</h4>
          <p>Spain, Ibiza, May 2013</p>
          <a href="#popup8" class="card_button">Learn More</a>
        </div>
      </div>
    </div>
    <div class="popup" id="popup">
        <div class="popup_content">
          <div class="popup_left">
            <%= image_tag 'past-1.png', class: "popup_img" %>
          </div>
          <div class="popup_right">
            <a href="#past-events" class="popup_close">&times;</a>
            <div class="popup_header">
              <div class="popup_header_left">
                <h2>Park Hyatt Vienna</h2>
                <h3>Austria</h3>
              </div>
              <div class="popup_header_right">
                <%= image_tag 'pastav-1.png' %>
              </div>
            </div>
            <h4>Vienna, February 2018</h4>
            <p>
              “In our opinion and why we love this format and forum is that
              RENDEZ VOUS IHF creates an intimate atmosphere with targeted buyers, offering a great balance between 1-to-1 meetings, unique networking events and memorable parties. So for sure a forum that is worth it to join and be part of it!”
            </p>
            <p>
              <b>Barbara Göttling</b>
              <br>
              Cluster Director of Sales & Marketing
              <br>
              Park Hyatt Vienna & Andaz Vienna Am Belvedere
            </p>
          </div>
        </div>
    </div>
    <div class="popup" id="popup2">
        <div class="popup_content">
          <div class="popup_left">
            <%= image_tag 'past-2.png', class: 'popup_img ' %>
          </div>
          <div class="popup_right">
            <a href="#past-events" class="popup_close">&times;</a>
            <div class="popup_header">
              <div class="popup_header_left">
                <h2>Grand Hotel Billia</h2>
                <h3>Italia</h3>
              </div>
              <div class="popup_header_right">
                <%= image_tag 'pastav-2.png' %>
              </div>
            </div>
            <h4>Vienna, February 2018</h4>
            <p>
              “The good and real mix between work and relationships, always in amazing places…. Great activities!”
            </p>
            <p>
              <b>Stefano Scotti</b>
              <br>
              Guest Relation Manager
              <br>
              Saint-Vincent Resort & Casino
            </p>
          </div>
        </div>
    </div>
    <div class="popup" id="popup3">
        <div class="popup_content">
          <div class="popup_left">
            <%= image_tag 'past-3.png', class: 'popup_img' %>
          </div>
          <div class="popup_right">
            <a href="#past-events" class="popup_close">&times;</a>
            <div class="popup_header">
              <div class="popup_header_left">
                <h2>Hôtel Collectionneur</h2>
                <h3>France</h3>
              </div>
              <div class="popup_header_right">
                <%= image_tag 'pastav-3.png' %>
              </div>
            </div>
            <h4>Paris, November 2015</h4>
            <p>
              “I have been participating to many editions of RENDEZ VOUS IHF, an unclassifiable event mixing targeted business meeting to one of a kind networking events that strengthen business relationship beyond expectations. Can’t recommend it more”
            </p>
            <p>
              <b>Bruno Chiaruttini</b>
              <br>
              General Manager
              <br>
              HILTON PARIS CHARLES DE GAULLE AIRPORT
            </p>
          </div>
        </div>
    </div>
    <div class="popup" id="popup4">
        <div class="popup_content">
          <div class="popup_left">
            <%= image_tag 'past-4.png', class: "popup_img" %>
          </div>
          <div class="popup_right">
            <a href="#past-events" class="popup_close">&times;</a>
            <div class="popup_header">
              <div class="popup_header_left">
                <h2>Grand Hotel Stockholm</h2>
                <h3>Sweden</h3>
              </div>
              <div class="popup_header_right">

              </div>
            </div>
            <h4>Stockholm, May 2015</h4>
            <p>
              “I participated 3 times at RENDEZ VOUS IHF which was every time a very successful event. We had interesting conversations with highly qualified buyers and received requests for our hotels. The meetings were very well organized and the rest of the program allowed us to connect with the buyers and other hoteliers in a fun and casual way!”
            </p>
            <p>
              <b>Carolina Muller</b>
              <br>
              Director Luxury and Fashion, Switzerland
              <br>
              The Leading Hotels of the World
            </p>
          </div>
        </div>
    </div>
    <div class="popup" id="popup5">
        <div class="popup_content">
          <div class="popup_left">
            <%= image_tag 'past-5.png', class: "popup_img" %>
          </div>
          <div class="popup_right">
            <a href="#past-events" class="popup_close">&times;</a>
            <div class="popup_header">
              <div class="popup_header_left">
                <h2>Gastwerk Hotel </h2>
                <h3>Germany</h3>
              </div>
              <div class="popup_header_right">
                <%= image_tag 'pastav-4.png' %>
              </div>
            </div>
            <h4>Hamburg, April 2015</h4>
            <p>
              “Working with RENDEZ VOUS IHF you are in for much more than only the right mix of business and fun – Alexandre’s passion and creativity for a colorful and entertaining spectacle that unites strangers to friends is always guaranteed!”
            </p>
            <p>
              <b>Henning A. Schaub</b>
              <br>
              Director Travel Trade Relations,
              <br>
              Design Hotels AG
            </p>
          </div>
        </div>
    </div>
    <div class="popup" id="popup6">
        <div class="popup_content">
          <div class="popup_left">
            <%= image_tag 'past-6.png', class: "popup_img" %>
          </div>
          <div class="popup_right">
            <a href="#past-events" class="popup_close">&times;</a>
            <div class="popup_header">
              <div class="popup_header_left">
                <h2>Conrad Hotel </h2>
                <h3>Portugal</h3>
              </div>
              <div class="popup_header_right">
                <%= image_tag 'pastav-5.png' %>
              </div>
            </div>
            <h4>Algarve, October 2014</h4>
            <p>
              “RENDEZ VOUS IHF is Unclassifiable!!! It is an unexpected journey ! Surprising ! Memorable ! Sophisticated! A new and innovative way to meet and engage with high profiled international clients from the luxury arena trough authentic and unique experiences.”
            </p>
            <p>
              <b>Joel De Sousa</b>
              <br>
              Director Of Sales,
              <br>
              Conrad Algarve
            </p>
          </div>
        </div>
    </div>
    <div class="popup" id="popup7">
        <div class="popup_content">
          <div class="popup_left">
            <%= image_tag 'past-7.png', class: "popup_img" %>
          </div>
          <div class="popup_right">
            <a href="#past-events" class="popup_close">&times;</a>
            <div class="popup_header">
              <div class="popup_header_left">
                <h2>Conservatorium </h2>
                <h3>Netherlands</h3>
              </div>
              <div class="popup_header_right">
                <%= image_tag 'pastav-6.png' %>
              </div>
            </div>
            <h4>Amsterdam, June 2014</h4>
            <p>
              “When I was working as the regional Director of the Set Hotels based in the Conservatorium Hotel in Amsterdam I had the opportunity to host the Rendezvous International Hotel Forum. This magnificent event brought a great level of Luxury professional not only to explore the city of Amsterdam but to get to know our Hotel. Our results were outstanding.  The coordination of the event was handled very well and the participating hotels and agents left very pleased with the outcome,  I highly recommend to take part of the RENDEZ VOUS IHF”
            </p>
            <p>
              <b>Hannan Zanzuri</b>
              <br>
              Founder & CEO at Odentio
              <br>
              Conservatorium Hotel
            </p>
          </div>
        </div>
    </div>
    <div class="popup" id="popup8">
        <div class="popup_content">
          <div class="popup_left">
            <%= image_tag 'past-7.png', class: "popup_img" %>
          </div>
          <div class="popup_right">
            <a href="#past-events" class="popup_close">&times;</a>
            <div class="popup_header">
              <div class="popup_header_left">
                <h2>Ibiza Grand Hotel</h2>
                <h3>Spain</h3>
              </div>
              <div class="popup_header_right">
                <%= image_tag 'pastav-7.png' %>
              </div>
            </div>
            <h4>Ibiza, May 2013</h4>
            <p>
              “RENDEZ VOUS IHF is the perfect opportunity to showcase your properties in an intimate atmosphere. Due to the size of the forum, not too big, not too small, the experience is more to become a family. Suppliers and buyers are at the same level of harmony and with superb options for networking and to generate proper business relationships.”
            </p>
            <p>
              <b>Borja Martinez Junquera</b>
              <br>
              Director of Meetings & Events Europe
              <br>
              Palladium Hotel Group
            </p>
          </div>
        </div>
    </div>

</section>
<script>
  const video = document.getElementById("home_video");
  const volumeOn = document.getElementById("volume_on");
  const volumeOff = document.getElementById("volume_off");

  volumeOff.addEventListener('click', function() {
    volumeOn.classList.toggle("hidden");
    volumeOff.classList.toggle("hidden");
    video.muted = false;
  });

  volumeOn.addEventListener('click', function() {
    volumeOn.classList.toggle("hidden");
    volumeOff.classList.toggle("hidden");
    video.muted = true;
  });
</script>
