<div class="white-space"></div>
<div class="home-page">
  <section class="home-page_section-one">
    <h4>#UNCLASSIFIABLE</h4>
    <p>#YESIDARE #WOULDYOU?</p>
    <%= link_to unclassifiable_path, class: "home-page_section-one_button" do %>
      <span>Learn More</span>
    <% end %>
  </section>
  <section class="home-page_section-two">
    <h1>
      Rendez-Vous is an International Luxury Hotel Forum that creates unique partnerships between the best hotels in the world and the most important MICE buyers.
    </h1>
  </section>
  <section class="home-page_section-three">
    <div class="home-page_section-three_header">
      <h4>Would you?</h4>
    </div>
    <div class="home-page_section-three_card-box">
      <div class="home-page_section-three_card-box_first-card">
        <div class="home-page_section-three_card-box_first-card_image"></div>
        <div class="home-page_section-three_card-box_first-card_text">
          <h4>Cartagena, COLOMBIA</h4>
          <p>DATES:<br> APRIL 5 TO 15, 2019</p>
          <p>HOTEL:<br> HOTEL LEGEND SOFITEL SANTA CLARA</p>

          <%= link_to wouldyou_path, class: "home-page_section-three_card-box_first-card_text_button" do %>
              <span>Would you?</span>
          <% end %>
        </div>
      </div>
      <div class="home-page_section-three_card-box_second-card">
        <div class="home-page_section-three_card-box_second-card_text">
          <h4>Lisboa, PORTUGAL</h4>
          <p>DATES:<br>October 15th to 20th, 2019</p>
          <p>HOTEL:<br>PESTANA PALACE</p>

          <%= link_to wouldyou_path, class: "home-page_section-three_card-box_second-card_text_button" do %>
            <span>Would you?</span>
          <% end %>
        </div>
        <div class="home-page_section-three_card-box_second-card_image"></div>
      </div>
    </div>
  </section>
  <section class="home-page_section-four" id="past-events">
    <div class="home-page_section-four_header">
      <h4>Past Editions</h4>
    </div>
    <div class="home-page_section-four_card-box">

      <!-- Vienna, Austria -->
      <div class="card">
        <div class="card_image">
          <%= image_tag 'austria.png' %>
        </div>
        <div class="card_text">
          <h4>Vienna, Austria</h4>
          <p>Park Hyatt, February 2018</p>
          <a class="card_button" href="#popup">Learn More</a>
        </div>
      </div>

      <!-- Saint-Vincent, Italia -->
      <div class="card">
        <div class="card_image">
          <%= image_tag 'italy.png' %>
        </div>
        <div class="card_text">
          <h4>Saint-Vincent, Italia</h4>
          <p>Grand Hotel Billia, June 2016</p>
          <a class="card_button" href="#popup2">Learn More</a>
        </div>
      </div>


      <!-- Paris, France -->
      <div class="card">
        <div class="card_image">
          <%= image_tag 'paris.png' %>
        </div>
        <div class="card_text">
          <h4>Paris, France</h4>
          <p>Hotel du Colllectionneur, November 2015</p>
          <a class="card_button" href="#popup3">Learn More</a>
        </div>
      </div>

      <!-- STOCKHOLM SWEDEN -->
      <div class="card">
        <div class="card_image">
          <%= image_tag 'stockholm.png' %>
        </div>
        <div class="card_text">
          <h4>Sotckholm, Sweden</h4>
          <p>Grand Hôtel, May 2015</p>
          <a class="card_button" href="#popup4">Learn More</a>
        </div>
      </div>

      <!-- HAMBURG GERMANY -->
      <div class="card">
        <div class="card_image">
          <%= image_tag 'hamburg.png' %>
        </div>
        <div class="card_text">
          <h4>Hamburg, Germany</h4>
          <p>Gastwerk, April 2015</p>
          <a class="card_button" href="#popup5">Learn More</a>
        </div>
      </div>

      <!-- ALGARVE, PORTUGAL -->
      <div class="card">
        <div class="card_image">
          <%= image_tag 'algarve.png' %>
        </div>
        <div class="card_text">
          <h4>Algarve, Portugal</h4>
          <p>Conrad Hotel, October 2014</p>
          <a class="card_button" href="#popup6">Learn More</a>
        </div>
      </div>

      <!-- AMSTERDAM, NETHERDLANDS -->
      <div class="card">
        <div class="card_image">
          <%= image_tag 'amsterdam.png' %>
        </div>
        <div class="card_text">
          <h4>Amsterdam, Netherlands</h4>
          <p>Conservatorium Hotel, June 2014</p>
          <a class="card_button" href="#popup7">Learn More</a>
        </div>
      </div>

      <!-- IBIZA, SPAIN -->
      <div class="card">
        <div class="card_image">
          <%= image_tag 'ibiza.png' %>
        </div>
        <div class="card_text">
          <h4>Ibiza, Spain </h4>
          <p>Ibiza Grand Hotel, May 2013</p>
          <a class="card_button" href="#popup8">Learn More</a>
        </div>
      </div>


    </div>
  </section>

  <!-- IN HERE ALL THE POP UPS -->
  <div class="popup" id="popup">
      <div class="popup_content">
        <div class="popup_left">
          <%= image_tag 'https://images.pexels.com/photos/244996/pexels-photo-244996.jpeg?cs=srgb&dl=auto-automobiles-cars-244996.jpg&fm=jpg', class: "popup_img" %>
          <%= image_tag 'https://images.pexels.com/photos/189454/pexels-photo-189454.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', class: "popup_img" %>
        </div>
        <div class="popup_right">
          <a href="#past-events" class="popup_close">&times;</a>
          <h2 class="popup_header">Vienna, Austria</h2>
          <h3 class="popup_small-header">Park Hyatt, February 2018</h3>
          <p class="popup_text">
            <em>"In our opinion and why we love this format and forum is that Rendez-Vouz IHF creates an intimate atmosphere with targeted buyers, offering a great balance between 1-to-1 meetings, unique networking events and memorable parties. So for sure a forum that is worth it to join and be part of it!"</em>
            <br><br>
            <b> BARBARA GÖTTLING Cluster Director of Sales & Marketing Park Hyatt Vienna & Andaz Vienna Am Belvedere</b>
          </p>
        </div>
      </div>
  </div>

  <div class="popup" id="popup2">
      <div class="popup_content">
        <div class="popup_left">
          <%= image_tag 'https://images.pexels.com/photos/7522/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', class: "popup_img" %>
          <%= image_tag 'https://images.pexels.com/photos/417344/pexels-photo-417344.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', class: "popup_img" %>
        </div>
        <div class="popup_right">
          <a href="#past-events" class="popup_close">&times;</a>
          <h2 class="popup_header">Sain-Vincent, Italia</h2>
          <h3 class="popup_small-header">Grand Hotel Billia, June 2016</h3>
          <p class="popup_text">
            <em>
              "The event is the perfect opportunity to showcase your properties in an intimate atmosphere. Due to the size of the forum, not too big, not too small, the experience is more to become a family. Suppliers and buyers are at the same level of harmony and with superb options for networking and to generate proper business relationships."
            </em>
            <br><br>
            <b>
              Borja Martinez Junquera
              Director of Meetings & Events Europe
              Palladium Hotel Group
            </b>
          </p>
        </div>
      </div>
  </div>

  <div class="popup" id="popup3">
      <div class="popup_content">
        <div class="popup_left">
          <%= image_tag 'https://images.pexels.com/photos/338515/pexels-photo-338515.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', class: "popup_img" %>
          <%= image_tag 'https://images.pexels.com/photos/161901/paris-sunset-france-monument-161901.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', class: "popup_img" %>
        </div>
        <div class="popup_right">
          <a href="#past-events" class="popup_close">&times;</a>
          <h2 class="popup_header">Paris, France</h2>
          <h3 class="popup_small-header">Hotel du collectionneur, November 2015</h3>
          <p class="popup_text">
            <em>
            "I have been participating to many editions of Rendez-Vous, an unclassifiable event mixing targeted business meeting to one of a kind networking events that strengthen business relationship beyond expectations. Can’t recommend it more"
            </em>
            <br><br>
            <b>
            Bruno CHIARUTTINI
            General Manager
            HILTON PARIS CHARLES DE GAULLE AIRPORT
            </b>
          </p>
        </div>
      </div>
  </div>

  <div class="popup" id="popup4">
      <div class="popup_content">
        <div class="popup_left">
          <%= image_tag 'https://images.pexels.com/photos/338515/pexels-photo-338515.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', class: "popup_img" %>
          <%= image_tag 'https://images.pexels.com/photos/161901/paris-sunset-france-monument-161901.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', class: "popup_img" %>
        </div>
        <div class="popup_right">
          <a href="#past-events" class="popup_close">&times;</a>
          <h2 class="popup_header">Stockholm, Sweden</h2>
          <h3 class="popup_small-header">Grand Hôtel, May 2015</h3>
          <p class="popup_text">
            <em>
            "Rendez Vous Forum's are awesome, funky, unconventional and strikingly different from any other Forums. Alex and Co go out of their way to always surprise us during the networking events and come up with great innovative ideas. Not only do they truly understand a buyer's needs but they also know how to have the right balance between scheduled appointments and activities. The concept of working in the morning and networking in the afternoon always in a cool unusual place and in a warm atmosphere, is perfect. All social events are always top class with a wow effect with lots of fun and help us all to connect with people on a higher level. Great Event!"
            </em>
            <br><br>
            <b>
              Ulrike Trader
              Senior International Events Manager
              Bird & Bird
            </b>
          </p>
        </div>
      </div>
  </div>

  <div class="popup" id="popup5">
      <div class="popup_content">
        <div class="popup_left">
          <%= image_tag 'https://images.pexels.com/photos/338515/pexels-photo-338515.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', class: "popup_img" %>
          <%= image_tag 'https://images.pexels.com/photos/161901/paris-sunset-france-monument-161901.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', class: "popup_img" %>
        </div>
        <div class="popup_right">
          <a href="#past-events" class="popup_close">&times;</a>
          <h2 class="popup_header">Hamburg, Germany</h2>
          <h3 class="popup_small-header">Gastwerk, April 2015</h3>
          <p class="popup_text">
            <em>
            "Not only amazing personalities at the Rendez-Vous International Hotel Forum, but also undeniably flexible, tremendously skilled and out-of-the-box thinking hospitality professionals. This can only categorized as: UNCLASSIFIABLE!"
            </em>
            <br><br>
            <b>
              Rick van den Berge
              Executive Assistant
              Euronics International BV
            </b>
          </p>
        </div>
      </div>
  </div>

  <div class="popup" id="popup6">
      <div class="popup_content">
        <div class="popup_left">
          <%= image_tag 'https://images.pexels.com/photos/338515/pexels-photo-338515.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', class: "popup_img" %>
          <%= image_tag 'https://images.pexels.com/photos/161901/paris-sunset-france-monument-161901.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', class: "popup_img" %>
        </div>
        <div class="popup_right">
          <a href="#past-events" class="popup_close">&times;</a>
          <h2 class="popup_header">Algarve, Portugal</h2>
          <h3 class="popup_small-header">Conrad Hotel, October 2014</h3>
          <p class="popup_text">
            <em>
            "Rendez Vous is Unclassifiable!!! It is an unexpected journey ! Surprising ! Memorable ! Sophisticated! A new and innovative way to meet and engage with high profiled international clients from the luxury arena trough authentic and unique experiences…"
            </em>
            <br><br>
            <b>
            </b>
          </p>
        </div>
      </div>
  </div>

  <div class="popup" id="popup7">
      <div class="popup_content">
        <div class="popup_left">
          <%= image_tag 'https://images.pexels.com/photos/338515/pexels-photo-338515.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', class: "popup_img" %>
          <%= image_tag 'https://images.pexels.com/photos/161901/paris-sunset-france-monument-161901.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', class: "popup_img" %>
        </div>
        <div class="popup_right">
          <a href="#past-events" class="popup_close">&times;</a>
          <h2 class="popup_header">Amsterdam, Netherlands</h2>
          <h3 class="popup_small-header">Conservatorium Hotel, June 2014</h3>
          <p class="popup_text">
            <em>
            "I have been participating to many editions of Rendez-Vous, an unclassifiable event mixing targeted business meeting to one of a kind networking events that strengthen business relationship beyond expectations. Can’t recommend it more"
            </em>
            <br><br>
            <b>
            Bruno CHIARUTTINI
            General Manager
            HILTON PARIS CHARLES DE GAULLE AIRPORT
            </b>
          </p>
        </div>
      </div>
  </div>

  <div class="popup" id="popup8">
      <div class="popup_content">
        <div class="popup_left">
          <%= image_tag 'https://images.pexels.com/photos/338515/pexels-photo-338515.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', class: "popup_img" %>
          <%= image_tag 'https://images.pexels.com/photos/161901/paris-sunset-france-monument-161901.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', class: "popup_img" %>
        </div>
        <div class="popup_right">
          <a href="#past-events" class="popup_close">&times;</a>
          <h2 class="popup_header">Ibiza, Spain</h2>
          <h3 class="popup_small-header">Ibiza Gran Hotel, May 2013</h3>
          <p class="popup_text">
            <em>
            "My meetings at Rendez Vous IHF have always been brilliant, focused on excellent and sometimes unusual suppliers. Everything ran extremely smoothly and I discovered some fantastic venues first-hand."
            </em>
            <br><br>
            <b>
              Maarten Brunt
              Purchasing Manager Global Events
              ATPI
            </b>
          </p>
        </div>
      </div>
  </div>
</div>
