 <div class="white-space"></div>
 <div class="hotels">
  <div class="hotels_banner">
    <h1>YES I DARE!</h1>
  </div>
  <div class="hotels_recipe">
    <h2>Our Recipe</h2>
    <div class="hotels_recipe_content">
      <div class="hotels_recipe_content_left">
        <div class="hotels-card">
          <div class="hotels-card_image">
            <%= image_tag 'icon-1.png' %>
          </div>
          <div class="hotels-card_content">
            <h4>Our RENDEZVOUS IHF</h4>
            <h6>A friendly welcome reception & dinner on the arrival day attended by all VIP Buyers and Hoteliers</h6>
          </div>
        </div>
        <div class="hotels-card">
          <div class="hotels-card_image">
            <%= image_tag 'icon-3.png' %>
          </div>
          <div class="hotels-card_content">
            <h4>One to One meetings</h4>
            <h6>A minimum of 40 pre-scheduled meetings organized between European VIP clients coming from corporate companies, MICE & Incentives agencies and European luxury 5 stars hotels with leaders in Corporate Event management and Location Finders - VIP Contacts</h6>
          </div>
        </div>
      </div>
      <div class="hotels_recipe_content_right">
        <div class="hotels-card">
          <div class="hotels-card_image">
            <%= image_tag 'icon-2.png' %>
          </div>
          <div class="hotels-card_content">
            <h4>2 surprise group lunches</h4>
            <h6>Both lunches attended by VIP buyers and Hoteliers</h6>
          </div>
        </div>
        <div class="hotels-card">
          <div class="hotels-card_image">
            <%= image_tag 'icon-4.png' %>
          </div>
          <div class="hotels-card_content">
            <h4>2 networking dinners</h4>
            <h6>One networking and Gala dinner attended by all VIP buyers and Hoteliers</h6>
          </div>
        </div>
        <div class="hotels-card">
          <div class="hotels-card_image">
            <%= image_tag 'icon-5.png' %>
          </div>
          <div class="hotels-card_content">
            <h4>1 afternoon team building activity</h4>
            <h6>Attended by all VIP buyers and Hoteliers</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hotels_recipe">
    <h2>What's in the Package?</h2>
    <div class="hotels_recipe_content">
      <div class="hotels_recipe_content_left">
        <div class="hotels-card">
          <div class="hotels-card_image">
            <%= image_tag 'icon-6.png' %>
          </div>
          <div class="hotels-card_content">
            <h6><b>3 Nights</b> of accomodation at the Forum’s Hotel</h6>
          </div>
        </div>
        <div class="hotels-card">
          <div class="hotels-card_image">
            <%= image_tag 'icon-7.png' %>
          </div>
          <div class="hotels-card_content">
            <h6><b>1 Full access</b> to all benefits of our RENDEZ VOUS IHF B2B Recipe</h6>
          </div>
        </div>
        <div class="hotels-card">
          <div class="hotels-card_image">
            <%= image_tag 'icon-8.png' %>
          </div>
          <div class="hotels-card_content">
            <h6><b>1 RENDEZ VOUS IHF 2019 Magazine Profile</b> of you and your represented Hotel / Hotel Group</h6>
          </div>
        </div>
      </div>
      <div class="hotels_recipe_content_right">
        <div class="hotels-card">
          <div class="hotels-card_image">
            <%= image_tag 'icon-8.png' %>
          </div>
          <div class="hotels-card_content">
            <h6><b>1 RENDEZ VOUS IHF 2019 Magazine Profiles</b> of all attending luxury Hotels</h6>
          </div>
        </div>
        <div class="hotels-card">
          <div class="hotels-card_image">
            <%= image_tag 'icon-9.png' %>
          </div>
          <div class="hotels-card_content">
            <h6><b>1 Memorable Business Investment</b> turned into multiple Long Term Partnerships</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hotels_recipe">
    <h2>Would you join?</h2>
    <div class="left-card">
      <div class="left-card_image">
        <%= image_tag 'pestana.png' %>
      </div>
      <div class="left-card_content">
        <h4>LISBOA, PORTUGAL</h4>
        <h5>Dates</h5>
        <p><b>October 15 to 18, 2019</b></p>
        <h5>Host Hotel</h5>
        <p><b>Pestana Palace</b></p>
        <%= link_to hotels_path do %>
          <button>JOIN</button>
        <% end %>
      </div>
    </div>
    <div class="right-card">
      <div class="right-card_content">
        <h4>MEGÉVE, FRANCE</h4>
        <h5>Dates</h5>
        <p><b>March 24 to 27, 2020</b></p>
        <h5>Host Hotel</h5>
        <p><b>Les Chalets du Monts d’Arbois Four Seasons </b></p>
        <%= link_to hotels_path do %>
          <button>JOIN</button>
        <% end %>
      </div>
      <div class="right-card_image">
        <%= image_tag 'megeve.png' %>
      </div>
    </div>
    <div class="left-card">
      <div class="left-card_image">
        <%= image_tag 'santaclara.png' %>
      </div>
      <div class="left-card_content">
        <h4>CARTAGENA DE INDIAS, COLOMBIA</h4>
        <h5>Dates</h5>
        <p><b>April 9 to 12, 2020</b></p>
        <h5>Host Hotel</h5>
        <p><b>Sofitel Santa Clara</b></p>
        <%= link_to hotels_path do %>
          <button>JOIN</button>
        <% end %>
      </div>
    </div>
    <div class="right-card">
      <div class="right-card_content">
        <h4>MONACO</h4>
        <h5>Dates</h5>
        <p><b>October 26 to 29, 2020</b></p>
        <h5>Host Hotel</h5>
        <p><b>Hotel l’Hermitage</b></p>
        <%= link_to hotels_path do %>
          <button>JOIN</button>
        <% end %>
      </div>
      <div class="right-card_image">
        <%= image_tag 'monaco.png' %>
      </div>
    </div>
  </div>
 </div>

