<div class="white-space"></div>
<div class="unclassifiable">
  <div class="unclassifiable_banner">
    <h1>#UNCLASSIFIABLE</h1>
    <h6>
      There is something unclassifiable in RENDEZ VOUS IHF, a mystery that is never fully understood:
      Creative or  statutory ? Fun or business ? Casual or sophistication ?
      <br><br>
      The success of RENDEZ VOUS IHF comes from this fundamental ambivalence:
      to present hotels and destinations, to create strategic contacts, to generate ROI, to reinvent itself
      constantly and to live unforgettable experiences and emotions,
      without ever becoming “just” a simple fair of the luxury travel.
    </h6>
  </div>
  <div class="unclassifiable_testimonials">
    <div class="left-testimonial">
      <div class="left-testimonial_avatar">
        <%= image_tag 'testimonial-one.png' %>
      </div>
      <div class="left-testimonial_content">
        <p><i>
          “From the first time I met Alex listening to his principles of RENDEZ VOUS IHF, to the fun of curating a series of unexpected experiences, to the final meaningful delivery – it was very clear to me – this is the new generation of creating emotional connections between people and destinations that will stay memorable. Simply unclassifiable.”
        </i></p>
        <p><b>
          Joachim Hartl, Area General Manager Iberian Peninsula <br> Hilton Worlwide
        </b></p>
      </div>
    </div>
    <div class="right-testimonial">
      <div class="right-testimonial_content">
        <p><i>
          “RENDEZ VOUS IHF Forum's are awesome, funky, unconventional and strikingly different from any other Forums. Alex and Co go out of their way to always surprise us during the networking events and come up with great innovative ideas. <br><br>
          Not only do they truly understand a buyer's needs but they also know how to have the right balance between scheduled appointments and activities. The concept of working in the morning and networking in the afternoon always in a cool unusual place and in a warm atmosphere, is perfect. All social events are always top class with a wow effect with lots of fun and help us all to connect with people on a higher level. Great Event!”
        </i></p>
        <p><b>
         Ulrike Trader, Senior International Events Manager <br> Bird & Bird
        </b></p>
      </div>
      <div class="right-testimonial_avatar">
        <%= image_tag 'testimonial-two.png' %>
      </div>
    </div>
    <div class="left-testimonial">
      <div class="left-testimonial_avatar">
        <%= image_tag 'testimonial-three.png' %>
      </div>
      <div class="left-testimonial_content">
        <p><i>
          “RENDEZ VOUS IHF is the bringing together of that which needs no introduction, the expected that becomes the unexpected, a meeting of ideas and beliefs in the luxury travel world that, as Coco Chanel once said, Luxury is the necessity that begins where necessity ends.”
        </i></p>
        <p><b>
          Yuriy Horovyy, Founder & CEO <br> Almont Group
        </b></p>
      </div>
    </div>
    <div class="right-testimonial">
      <div class="right-testimonial_content">
        <p><i>
          “Having participated in several editions of “Rendez-Vous” over the past years, I can say that you guys curate an event like no other!  Both hotel partners and buyers have the opportunity to do business in a relaxed and friendly atmosphere and experience amazingly different things in each destination the event is held in.   Always raising the bar higher!”
        </i></p>
        <p><b>
          Katya Bauval, Executive Director of Sales & Marketing <br>
          VILA VITA Parc Resort & Spa
        </b></p>
      </div>
      <div class="right-testimonial_avatar">
        <%= image_tag 'testimonial-four.png' %>
      </div>
    </div>
    <div class="left-testimonial">
      <div class="left-testimonial_avatar">
        <%= image_tag 'testimonial-five.png' %>
      </div>
      <div class="left-testimonial_content">
        <p><i>
          “My meetings at RENDEZ VOUS IHF have always been brilliant, focused on excellent and sometimes unusual suppliers. Everything ran extremely smoothly and I discovered some fantastic venues first-hand.”
        </i></p>
        <p><b>
          Maarten Brunt, Purchasing Manager Global Events  <br> ATPI
        </b></p>
      </div>
    </div>
    <div class="right-testimonial">
      <div class="right-testimonial_content">
        <p><i>
          “RENDEZ VOUS IHF is a successful creative & funny business connecting concept, taylor made by visionaries and leaders from across industries inspire trends that will shape the future of contemporary travel.”
        </i></p>
        <p><b>
          Marie-Ange Bihouix, Director of Sale <br> Marketing & PR
          Five Seas Hotel Cannes
        </b></p>
      </div>
      <div class="right-testimonial_avatar">
        <%= image_tag 'testimonial-six.png' %>
      </div>
    </div>
    <div class="left-testimonial">
      <div class="left-testimonial_avatar">
        <%= image_tag 'testimonial-seven.png' %>
      </div>
      <div class="left-testimonial_content">
        <p><i>
          “RENDEZ VOUS IHF Vienna was a great edition! A right mix between face-to-face meetings with top buyers and unique networking events.
          I would define it as a successful combination of conviviality, professionalism, originality, passion and a pinch of Madness #workhardplayhard "
        </i></p>
        <p><b>
          Anne-Emmanuelle Le Bail, Director of Sales <br>
          Waldorf Astoria and Conrad Hotels & Resorts
        </b></p>
      </div>
    </div>
    <div class="right-testimonial">
      <div class="right-testimonial_content">
        <p><i>
          “Quality networking with the best hotel partners in a creative event.
          RENDEZ VOUS is an inspiration for our work
          Thanks RENDEZ VOUS IHF team!”
        </i></p>
        <p><b>
          Miguel Pinto, General Manager <br> YCON Group
        </b></p>
      </div>
      <div class="right-testimonial_avatar">
        <%= image_tag 'testimonial-eight.png' %>
      </div>
    </div>
    <div class="left-testimonial">
      <div class="left-testimonial_avatar">
        <%= image_tag 'testimonial-nine.png' %>
      </div>
      <div class="left-testimonial_content">
        <p><i>
          “My first two rendezvous were fantastic experiences which resulted in great business for the hotel. The intimacy of the event means that you get to feel as though you are part of a family which is amazing.”
        </i></p>
        <p><b>
          Andrew Tabone, International Sales Manager <br> Excelsior Grand Hotel
        </b></p>
      </div>
    </div>
    <div class="right-testimonial">
      <div class="right-testimonial_content">
        <p><i>
          “Materialized business opportunities, first contacts made with decision makers and influencers on both sides of suppliers and buyers and an immediate connection of all the participants thanks to a truly unusual and extremely well designed program.”
        </i></p>
        <p><b>
          Benjamin Caudet, Vice President <br>
          EMEA at ATG Business Travel Management
        </b></p>
      </div>
      <div class="right-testimonial_avatar">
        <%= image_tag 'testimonial-ten.png' %>
      </div>
    </div>
    <div class="left-testimonial">
      <div class="left-testimonial_avatar">
        <%= image_tag 'testimonial-eleven.png' %>
      </div>
      <div class="left-testimonial_content">
        <p><i>
          “RENDEZ VOUS IHF is so different, because Alex and his team manage to find unique locations, unique attractions and deliver a oscar worthy show for an entire weekend. That paired with well qulified buyers makes Rendez-Vous a super event!”
        </i></p>
        <p><b>
          Felix Sigel, Head of Sales <br> 25 hours Hotels
        </b></p>
      </div>
    </div>
    <div class="right-testimonial">
      <div class="right-testimonial_content">
        <p><i>
          “Not only amazing personalities at the RENDEZ VOUS INTERNATIONAL HOTEL FORUM, but also undeniably flexible,
          tremendously skilled and out-of-the-box thinking hospitality professionals.
          This can only categorized as: UNCLASSIFIABLE!”
        </i></p>
        <p><b>
          Rick van den Berge, Executive Assistant <br> Euronics International BV
        </b></p>
      </div>
      <div class="right-testimonial_avatar">
        <%= image_tag 'testimonial-twelve.png' %>
      </div>
    </div>
  </div>
</div>
<!-- <div class="unclassifiable">
    <section class="unclassifiable_banner">
      <span></span>
    </section>
    <section class="unclassifiable_content">
        <div class="unclassifiable_content_header">
          <h4>Unclassifiable</h4>
        </div>
        <div class="unclassifiable_content_text">
          <p>
            There is something unclassifiable in Rendez-vous, a mystery that is never fully understood:<br>
            creative or  statutory ?<br>
            Fun or business ?<br>
            casual or sophistication ?<br>
            <br><br>
            The success of Rendez-vous comes from thisfundamental ambivalence:
            to present hotels and destinations, to create startegic contacts, to generate ROI, to reinvent itself constantly and to live unforgettable experiences and emotions, without ever becoming “just” a simple fair of the luxury travel.
          </p>
        </div>
    </section>
</div> -->
