 <div class="white-space"></div>
<div class="banner-img wouldyou">
  <div class="banner-layer"></div>
  <div class="bottom-left">
    <%= image_tag 'white-logo.png', class: "banner-logo" %>
    <!-- <img src="/images/white-logo.png" alt="rendevouz logo" class="banner-logo"> -->
    <h1 class="br-header">WE DESIGN EVENTS</h1>
    <h1 class="br-header">CATERED FOR EXPERIENCES</h1>
  </div>
</div>
<h1 class="would-you" id="wouldyou">Would you?</h1>

<div class="wouldyou_events">
  <div class="container pt40">
    <h1 class="headers">Cartagena, Colombia</h1>
    <p>DATES: APRIL 5 TO 15, 2019</p>
    <p>Hotel Legend Santa Clara</p>
  </div>
  <%= image_tag 'https://s3.eu-west-3.amazonaws.com/rendezvoushotel/santaclara.png', class: "wouldyou_events_image"  %>

  <h4 class="wouldyou_events_header">Our Recipe</h4>
    <%= image_tag 'https://s3.eu-west-3.amazonaws.com/rendezvoushotel/santa-clara-description.png', class: "wouldyou_events_description" %>

  <h4 class="wouldyou_events_header">What's In The Package</h4>
    <%= image_tag 'https://s3.eu-west-3.amazonaws.com/rendezvoushotel/santa-clara-description2.png', class: "wouldyou_events_description" %>
  <h3 class="wouldyou_events_bottom">Your only task is to decide to join us.</h3>
  <div class="button-holder">
    <a class="main-button" href="#register-popup">Register</a>
  </div>

  <div class="container pt40">
    <h1 class="headers">Lisboa, Portugal</h1>
    <p>DATES:October 15th to 20th, 2019</p>
    <p>Pestana Palace Hotel</p>
  </div>
  <%= image_tag 'https://s3.eu-west-3.amazonaws.com/rendezvoushotel/pestana.png', class: "wouldyou_events_image" %>
  <h4 class="wouldyou_events_header">Our Recipe</h4>
  <%= image_tag 'https://s3.eu-west-3.amazonaws.com/rendezvoushotel/pestanadescription.png', class: "wouldyou_events_description" %>
  <h4 class="wouldyou_events_header">What's In The Package</h4>
  <%= image_tag 'https://s3.eu-west-3.amazonaws.com/rendezvoushotel/pestadescription2.png', class: "wouldyou_events_description" %>
  <h3 class="wouldyou_events_bottom">Your only task is to decide to join us.</h3>
  <div class="button-holder">
    <a class="main-button" href="#register-popup">Register</a>
  </div>
</div>

<!-- IN HERE ALL THE POP UPS -->
<div class="popup" id="register-popup">
    <div class="popup_content registration_form">
      <a href="#wouldyou" class="close-button">&times;</a>
      <form action="https://formspree.io/sales@rendezvous-ihf.com" method="post">
        <h1>Register</h1>
        <input placeholder="Name" type="text"  value="" required>
        <input placeholder="Email address" name="email" type="email" onblur="this.setAttribute('value', this.value);" value="" required>
        <span class="validation-text">Please enter a valid email address.</span>
        <div class="flex">
          <textarea placeholder="Message" name="message" rows="1" required></textarea>
        </div>
        <input class="contact_form_button" type="submit" value="Send">
      </form>
    </div>
</div>
